.bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
    .pokedex{
        z-index: 1;
        width: 400px;
        position: relative;
        button{
            left: 49px;
            top: 34px;
            position: absolute;
            color: white;
            z-index: 3;
        }
        .photo{
            width: 278px;
            height: 278px;
            top: 155px;
            left: 70px;
            position: absolute;
            z-index: 2;
        }
        .click{
            top: -20px;
            left: -300px;
            width: 300px;
            position: absolute;
            z-index: 2;
        }

    }
}

app-search{
    z-index: 3;
}
.info{
    box-sizing: border-box;
    margin: 10px;
    width: 400px;
    height: 678px;
    background-color: #d2242a;
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    color: white;
    border-radius: 30px;
    border: solid 8px black;
    line-height: 30px;
    flex-direction: column;
    .screen{
        box-sizing: border-box;
        background-color: #57595b;
        width: 350px;
        height: 628px;
        border-radius: 5px;
        padding: 20px;
        border: solid 5px #8f8d8c;    
    }
    .name{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin: 20px;
    }
}

.pokeball{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
}